@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap");
* {
  box-sizing: border-box;
}
body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  background: #ece9e6;
  background: -webkit-linear-gradient(to right, #ffffff, #ece9e6);
  background: linear-gradient(to right, #ffffff, #ece9e6);
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  min-height: 100vh;
}
img {
  max-width: 100%;
}
.mobile-container {
  width: 400px;
  background-color: white;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
}
header {
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
header input {
  border: none;
  background-color: #eee;
  border-radius: 3px;
  padding: 0.5rem 1rem;
  font-family: inherit;
}
header button {
  background-color: transparent;
  color: #aaa;
  font-size: 1.5rem;
  border: none;
  margin-left: 10px;
}
.fave-container {
  background-color: rgb(243, 225, 255);
  padding: 0.25rem 1rem;
  text-align: center;
}
.fave-meals {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
.fave-meals li {
  width: 85px;
  position: relative;
  width: 75px;
}
.fave-meals li .clear {
  background-color: transparent;
  position: absolute;
  top: -0.5rem;
  right: -0.5rem;
  cursor: pointer;
  border: none;
  font-size: 1.2rem;
  opacity: 0;
}
.fave-meals li:hover .clear {
  opacity: 1;
}
.fave-meals li img {
  border: 2px solid white;
  box-shadow: 0 0 10px 2px #3333331a;
  height: 70px;
  width: 70px;
  object-fit: cover;
  border-radius: 50%;
}
.fave-meals li span {
  display: inline-block;
  font-size: 0.9rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 75px;
}

.meal {
  margin: 1.5rem;
  box-shadow: 0 0 10px 2px #3333331a;
  border-radius: 3px;
  overflow: hidden;
}
.meal-header {
  position: relative;
}
.meal-header .random {
  position: absolute;
  top: 1rem;
  background-color: white;
  padding: 0.25rem 0.5rem;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
}
.meal-header img {
  height: 250px;
  width: 100%;
  object-fit: cover;
}
.meal-body {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.meal-body h4 {
  margin: 0;
}
.meal-body .fave-btn {
  background-color: transparent;
  border: none;
  font-size: 1.2rem;
  color: rgb(197, 188, 188);
  cursor: pointer;
}
.meal-body .fave-btn.active {
  color: rebeccapurple;
}
